<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrameworkFun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A0863991DF7C52E00AA2BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0863AD1DF7C52F00AA2BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0863B81DF7C52F00AA2BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
